<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>

  </ul>

</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        
        <li class="divider"></li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/activity']"><i class="icon-pie-chart"></i> Activity</a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Session
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="signOut()"><i class="icon-logout"></i> Sign Out</a>
        </li>        
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
      
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu hidden-md-down">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
          <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
      
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

</div>

<footer class="app-footer">
  <a href="http://coreui.io">tagChief Enteprise Solution Platform</a> &copy; 2017 Eigenvalue.
  <span class="float-right">Powered by <a href="http://tagchief.com.ng">Eigenvalue Nigeria</a></span>
</footer>
